<div class="page-news" id="page-news">
    <section class="page--sct bg-02">
        <div class="page--inner">
            <h2 class="page--title">ニュース・イベント</h2>
            <div class="page--content">
                <div class="page-news-clm">
                    <h3 class="page-news-gene">2022年</h3>
                    <ul class="page-news-item" id="news_2022"></ul>
                </div>
                <div class="page-news-clm">
                    <h3 class="page-news-gene">2021年</h3>
                    <ul class="page-news-item" id="news_2021"></ul>
                </div>
                <div class="page-news-clm">
                    <h3 class="page-news-gene">2020年</h3>
                    <ul class="page-news-item" id="news_2020"></ul>
                </div>
            </div>
        </div>
    </section>
</div>