<div class="page-news">
    <section class="page--sct bg-02">
        <div class="page--inner">
            <h2 class="page--title">ニュース・イベント</h2>
            <div class="page--content">
                <div class="page-news-clm">
                    <ul class="page-news-item" id="news"></ul>
                </div>
            </div>
        </div>
    </section>
</div>