<div class="page-info">
    <section class="page--sct bg-02">
        <div class="page--inner">
            <h2 class="page--title"><%- data.title %></h2>
            <div class="page--content">
                <div class="page-info-clm">
                    <div class="page-info-text">
                        <p>テキストテキストテキストテキストテキストテキストテキスト</p>
                        <p>テキストテキストテキストテキストテキストテキストテキスト<a href="" class="page-info-link" target="_blank">リンクリンクリンクリンク</a>テキストテキストテキスト</p>
                    </div>
                    <div class="page-info-text">
                        <p>テキストテキストテキストテキストテキストテキストテキスト</p>
                    </div>
                    <ul class="page-info-item">
                        <li class="page-info-list">
                            <a href="" class="page-info-link">テキストリンクテキストリンクテキストリンク</a>
                        </li>
                        <li class="page-info-list">
                            <a href="" class="page-info-link">テキストリンクテキストリンクテキストリンク</a>
                        </li>
                    </ul>
                    <div class="page-info-text">
                        <p>テキストテキストテキストテキストテキストテキストテキスト<a href="" class="page-info-link" target="_blank">リンクリンクリンクリンク</a>テキストテキストテキスト</p>
                    </div>
                    <div class="page-info-img">
                        <img src="https://placehold.jp/650x475.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>