<div class="page-info">
    <section class="page--sct bg-02">
        <div class="page--inner">
            <h2 class="page--title">新着情報</h2>
            <div class="page--content">
                <div class="page-clm03">
                    <a href="/info/0001/" class="page-clm">
                        <div class="">
                            <img src="https://placehold.jp/350x175.png" alt="">
                        </div>
                        <p class="page-clm-text">
                            <strong>タイトルテキストタイトルテキストタイトルテキスト01</strong>
                        </p>
                    </a>
                    <a href="/info/0002/" class="page-clm">
                        <div class="">
                            <img src="https://placehold.jp/350x175.png" alt="">
                        </div>
                        <p class="page-clm-text">
                            <strong>タイトルテキストタイトルテキストタイトルテキスト02</strong>
                        </p>
                    </a>
                    <a href="" class="page-clm">
                        <div class="">
                            <img src="https://placehold.jp/350x175.png" alt="">
                        </div>
                        <p class="page-clm-text">
                            <strong>タイトルテキストタイトルテキストタイトルテキスト</strong>
                        </p>
                    </a>
                    <a href="" class="page-clm">
                        <div class="">
                            <img src="https://placehold.jp/350x175.png" alt="">
                        </div>
                        <p class="page-clm-text">
                            <strong>タイトルテキストタイトルテキストタイトルテキスト</strong>
                        </p>
                    </a>
                    <a href="" class="page-clm">
                        <div class="">
                            <img src="https://placehold.jp/350x175.png" alt="">
                        </div>
                        <p class="page-clm-text">
                            <strong>タイトルテキストタイトルテキストタイトルテキスト</strong>
                        </p>
                    </a>
                    <a href="" class="page-clm">
                        <div class="">
                            <img src="https://placehold.jp/350x175.png" alt="">
                        </div>
                        <p class="page-clm-text">
                            <strong>タイトルテキストタイトルテキストタイトルテキスト</strong>
                        </p>
                    </a>
                    <a href="" class="page-clm">
                        <div class="">
                            <img src="https://placehold.jp/350x175.png" alt="">
                        </div>
                        <p class="page-clm-text">
                            <strong>タイトルテキストタイトルテキストタイトルテキスト</strong>
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>