<div class="page-info">
    <section class="page--sct bg-02">
        <div class="page--inner">
            <h2 class="page--title">新着情報</h2>
            <div class="page--content">
                <div class="page-clm03" id="info"></div>
            </div>
        </div>
    </section>
</div>