.page-company {
    &-table {
        width: 100%;
    }
    &-th {
        width: 25%;
        font-weight: normal;
        padding: 10px;
        background: #f7f7f7;
    }
    &-td {
        width: 75%;
        padding: 10px;
        border: 1px solid #f7f7f7;
        span {
            font-size: 12px;
        }
    }
    &-catch {
        font-weight: bold;
        margin-bottom: 15px;
    }
    &-text {
        margin-top: 15px;
        &:first-of-type {
            margin-top: 0;
        }
    }
}