<header class="page-header">
    <div class="page-header-sct">
        <div class="page-header-inner">
            <div class="page-header-logo">
                <div class="page-header-logo">
                    <a href="/">
                        <img src="https://placehold.jp/260x50.png" alt="">
                    </a>
                </div>
            </div>
            <ul class="page-header-item">
                <li class="page-header-list">
                    <a href="/info/">新着情報</a>
                </li>
                <li class="page-header-list">
                    <a href="/news/">ニュース・イベント</a>
                </li>
                <li class="page-header-list">
                    <a href="/brand/">ブランド</a>
                </li>
                <li class="page-header-list">
                    <a href="/company/">会社概要</a>
                </li>
                <li class="page-header-list">
                    <a href="/contact/">お問い合わせ</a>
                </li>
                <li class="page-header-list">
                    <a href="https://exizzle-line.co.jp/shops/" class="page-header-shop" target="_blank"></a>
                </li>
                <li class="page-header-list">
                    <a href="/en/" class="page-header-world" target="_blank"></a>
                </li>
            </ul>
            <div class="page-header-sns">
                <a href="" class="page-header-icon twitter"></a>
                <a href="" class="page-header-icon instagram"></a>
                <a href="" class="page-header-icon facebook"></a>
                <a href="" class="page-header-icon youtube"></a>
            </div>
        </div>
    </div>
</header>