<header class="page-header">
    <div class="page-header-sct">
        <div class="page-header-inner">
            <div class="page-header-logo">
                <div class="page-header-logo">
                    <a href="">
                        <img src="https://placehold.jp/260x50.png" alt="">
                    </a>
                </div>
            </div>
            <div class="page-header-menu">
                <ul class="page-header-item">
                    <li class="page-header-list">
                        <a href="">Menu-TextLink</a>
                    </li>
                    <li class="page-header-list">
                        <a href="">Menu-TextLink</a>
                    </li>
                    <li class="page-header-list">
                        <a href="">Menu-TextLink</a>
                    </li>
                    <li class="page-header-list">
                        <a href="">Menu-TextLink</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>