.bg-01 {
    background: #eee;
}

.bg-02 {
    background: #fff;
}

.bg-03 {
    background: #c4dbff;
}

.bg-04 {
    background-color: #00b7ff;
}

.page--sct {
    padding: 60px 0;
}
.page--inner {
    max-width: 1180px;
    margin: 0 auto;
}
.page--title {
    font-size: 34px;
    margin: 0 auto;
    text-align: center;
}
.page--content {
    width: 75%;
    margin: 45px auto 0;
    padding: 0 30px;
}