.page-news {
    &-item {
        max-width: 960px;
        margin: 60px auto 0;
    }
    &-list {
        width: 100%;
        padding: 10px 0;
        border-top: 1px solid #7a7a7a;
        display: grid;
        grid-template-columns: 230px 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
        &:last-child {
            border-bottom: 1px solid #7a7a7a;
        }
    }
    &-time {
        display: flex;
        justify-content: space-between;
        height: 35px;
    }
    &-date {
        padding: 5px;
        height: 35px;
    }
    &-tag {
        padding: 5px;
        color: #fff;
    }
    &-text {
        padding: 5px;
    }
    &-clm {
        margin-top: 55px;
        &:first-of-type {
            margin-top: 0;
        }
    }
    &-gene {
        font-size: 22px;
    }
}

.event-tag {
    background: #f00;
}

.news-tag {
    background: #00f;
}