.page-contact {
    &-inner {
        width: 70%;
        margin: 0 auto;
    }
    &-text {
        line-height: 1.8;
        padding-top: 15px;
        &:first-of-type {
            padding-top: 0;
        }
    }
    &-link {
        color: #ff0000;
        position: relative;
        padding-left: 20px;
        &::before {
            content: '';
            position: absolute;
            width: 6px;
            height: 6px;
            border: 2px solid;
            border-color: #ff0000 #ff0000 transparent transparent;
            transform: rotate(45deg);
            top: 15%;
            left: -3px;
        }
    }
}