<div class="wire-wrapper">
    <div class="wire-wrapper-inner" id="mv">
        <div class="wire-clm">
            <p class="wire-text">
                
            </p>
        </div>
    </div>
    <div class="wire-wrapper-inner" id="catch">
        <div class="wire-clm">
            <p class="wire-text">
                
            </p>
        </div>
    </div>
    <div class="wire-wrapper-inner" id="main">
        <div class="wire-clm">
            <p class="wire-text">
                
            </p>
        </div>
    </div>
    <div class="wire-wrapper-inner" id="estimation">
        <div class="wire-clm">
            <p class="wire-text">
                
            </p>
        </div>
    </div>
</div>