<div class="page-contact">
    <section class="page--sct bg-02">
        <div class="page--inner">
            <h2 class="page--title">お問い合わせ</h2>
            <div class="page--content">
                <div class="page-contact-inner">
                    <p class="page-contact-text">
                        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                    <p class="page-contact-text">
                        <a href="" class="page-contact-link">こちらこちらこちら</a>
                    </p>
                    <p class="page-contact-text">
                        テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>