<div class="page-contact">
    <section class="page--sct bg-02">
        <div class="page--inner">
            <h2 class="page--title">お問い合わせ</h2>
            <div class="page--content">
                <div class="page-contact-inner">
                    <form action="">
                        <div class="page-contact-form">
                            <p class="page-contact-text">名前</p>
                            <p class="page-contact-input">
                                <label class="page-contact-label" for="text01"></label>
                                <input id="text01" type="text" placeholder="エクシズル太郎">
                            </p>
                            <p class="page-contact-text">フリガナ</p>
                            <p class="page-contact-input">
                                <label class="page-contact-label" for="text02"></label>
                                <input id="text02" type="text" placeholder="エクシズルタロウ">
                            </p>
                            <p class="page-contact-text">会社名</p>
                            <p class="page-contact-input">
                                <label class="page-contact-label" for="text03"></label>
                                <input id="text03" type="text" placeholder="エクシズル株式会社">
                            </p>
                            <p class="page-contact-text">メールアドレス</p>
                            <p class="page-contact-input">
                                <label class="page-contact-label" for="text04"></label>
                                <input id="text04" type="text" placeholder="example@co.jp">
                            </p>
                            <p class="page-contact-text">電話番号</p>
                            <p class="page-contact-input">
                                <label class="page-contact-label" for="text05"></label>
                                <input id="text05" type="text" placeholder="03-0000-0000">
                            </p>
                            <p class="page-contact-text">郵便番号</p>
                            <p class="page-contact-input">
                                <label class="page-contact-label" for="text06"></label>
                                <input id="text06" type="text" placeholder="XXX-XXXX">
                            </p>
                            <p class="page-contact-text">住所</p>
                            <p class="page-contact-input">
                                <label class="page-contact-label" for="text07"></label>
                                <input id="text07" type="text" placeholder="">
                            </p>
                            <p class="page-contact-text">問い合わせ内容</p>
                            <p class="page-contact-input">
                                <label class="page-contact-label" for="text07"></label>
                                <textarea name="" id="text07" cols="20" rows="10" style="max-width: 100%; width: 100%;"></textarea>
                            </p>
                        </div>
                        <div class="page-contact-btn">
                            <input type="submit" value="送信する" class="page-contact-submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>